<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreatorHomePage</key>
	<string>https://zabreznik.net</string>
	<key>CreatorName</key>
	<string>Marko Zabreznik</string>
	<key>Version</key>
	<integer>1.0.0</integer>
	<key>CBMinimumAppVersion</key>
	<string>2.2</string>
	<key>CBLabels</key>
	<array>
		<dict>
			<key>CBLabel</key>
			<string>CB_Invoice</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Invoice</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Miles</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Miles</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_MileageRate</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Rate</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_MailPaymentTo</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Mail payment to:</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_InvoicedCustomer</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Invoiced Customer:</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Estimate</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Estimate</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_InvoiceNumber</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Invoice Number</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_NotYetSent</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Not yet sent.</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Date</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Date</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Description</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Description</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Hours</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Hours</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Rate</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Rate</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Quantity</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Quantity</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_UnitCost</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Cost</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Cost</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Cost</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_NA</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>n/a</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Expenses</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Expenses</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Totals</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Totals</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_Subtotal</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Subtotal</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_TotalCost</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Total Cost</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_TotalPaid</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Total Paid</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_TotalDue</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Total Due</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_PaymentDueOnReceipt</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Payment due on receipt.</string>
			</dict>
		</dict>
		<dict>
			<key>CBLabel</key>
			<string>CB_PaymentDueBy</string>
			<key>CBLabelValues</key>
			<dict>
				<key>en</key>
    			<string>Payment due by</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
